# Servidor
PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# Base de datos PostgreSQL (coincide con docker-compose.yml)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gestion_cine
DB_USER=postgres
DB_PASSWORD=cine123

# JWT json web token
JWT_SECRET=cambiar_por_un_secreto_largo
JWT_EXPIRES_IN=1d

# Frontend
VITE_API_URL=http://localhost:3001/api