# Servidor
PORT=3001
NODE_ENV=development

# Base de datos PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=gestion_cine
DB_USER=postgres
DB_PASSWORD=

# JWT json web token
JWT_SECRET=
JWT_EXPIRES_IN=1d

# Frontend
VITE_API_URL=http://localhost:3001/api